<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="p-24">
    <ion-label>hellooo</ion-label>
    <form [formGroup]="formGroup">
        <dynamic-ionic-form [group]="formGroup" [model]="formModel"></dynamic-ionic-form>
    </form>
</ion-content>
